<div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hii, My name is iktaj singh , from beas ,punjab(india). since childhood i was very fond of programming . i used to think that how all these games were made so i made it a dream to become a software engineer in my life and developer
            good games .so after the compliting my studies in india . i persued a course of computer programming in one of the highly reputated college ,seneca college .,which i heard is best in computer it learning. so as soon as get in the  
            course .i become fond of web programming which i founf very interesting. apart from this i have the biggest interest in playing cricket . i had also represented my state(punjab) at a state level(ranji trophy) i had also played more
            than 50+ tournaments when i was in india . i am very honest and syd type of person . i dont speak much , i never had a fight with anyone in my life. i am very friendly . i also treat people with respect. as considering my course i  
            am looing forward for more interesting courses to come so that i can enjoy them and learn alot fro them.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>As I am pursing Computer Programming Program at Seneca College. In this program I am learning different languages. But I am more intersted in doing web Programming. 
            I am surprised to see that how through it we can make any web site. So I am thinking of becoming a web developer.
          </p>
        </aside>
      </div>
    
