<<<<<<< HEAD
<div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hii, My name is iktaj singh , from beas ,punjab(india). since childhood i was very fond of programming . i used to think that how all these games were made so i made it a dream to become a software engineer in my life and developer
            good games .so after the compliting my studies in india . i persued a course of computer programming in one of the highly reputated college ,seneca college .,which i heard is best in computer it learning. so as soon as get in the  
            course .i become fond of web programming which i founf very interesting. apart from this i have the biggest interest in playing cricket . i had also represented my state(punjab) at a state level(ranji trophy) i had also played more
            than 50+ tournaments when i was in india . i am very honest and syd type of person . i dont speak much , i never had a fight with anyone in my life. i am very friendly . i also treat people with respect. as considering my course i  
            am looing forward for more interesting courses to come so that i can enjoy them and learn alot fro them.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>As I am pursing Computer Programming Program at Seneca College. In this program I am learning different languages. But I am more intersted in doing web Programming. 
            I am surprised to see that how through it we can make any web site. So I am thinking of becoming a web developer.
          </p>
        </aside>
      </div>
    
=======

      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Harsh Sethi, I belong to India I completed my highschool before coming to canada for further studies.As I grew up, I started liking new gadgets, became curious about how do they function and how are they programmed which is one of the main reason why I chose to persue computer programming program. 
            I reached this beautiful country Canada on 16th of december as an international student in seneca college, I dream of becoming a successfull Computer programmer one day working in a reputated tech firm. 
            Talking about myself, Since childhood I am a very sincere and hardworking person who has always been dedicated towards work.</p>
          </article>
          </section>
          <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for future updates...</p>
          </p>
        </aside>
      </div>
  
>>>>>>> a93462aea758c82d0d07e9d482b506d623eb5b87
